#################################################
# Vivado Generated Project Data
#################################################

# Main project file
*.xpr
*.hbs

# Generated folders
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

#################################################
# Generated outputs
#################################################

*.jou
*.log
*.str
*.pb
*.wdb
*.wcfg
*.bit
*.bin
*.dcp
*.ltx

#################################################
# OS / Editor
#################################################

.DS_Store
Thumbs.db
.vscode/
.idea/

